$white: #fff;

$lightgrey: #FEFEFE;
$platinum: #d9d9d9bf;
$dustyGrey: #aaaaaa99;

$oliveGreen: #242925;
$darkGreen: #1d4444;
$Green: #668351;
$lightGreen: #E8EFCC;

$darkBlue: #178dc3a2;
$blue: #039BE5;
$lightBlue: #0ab2ff80;

$blackAmber: #0000001a;
$black: #02020491;
$darkBlack: #00000012;