header{
  width: 100%;
  position: fixed;
  background: #fff;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    .menu{
      max-width: 700px;
      width: 100%;
      &__button{
        display: none;
      }
      nav{
        ul{
          display: flex;
          justify-content: space-between;
          li{
            a{
              font-size: 18px; 
              font-weight: bold;
              color: #1d4444;
              &:hover{
                color: rgb(36, 148, 139);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  header{
    .header{
      .menu{
        max-width: 600px;
      }
    }
  }
}
@media screen and (max-width: 1260px) {
  header{
    .header{
      .menu{
        max-width: 550px;
      }
    }
  }
}
@media screen and (max-width: 1160px) {
  header{
    .header{
      .menu{
        max-width: 500px;
        nav{
          ul{
            li{
              a{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  header{
    .header{
      .menu{
        max-width: 450px;
      }
    }
  }
}
@media screen and (max-width: 924px) {
  header{
    .header{
      .menu{
        width: 100%;
        max-width: 39px;
        nav{
          display: block;
          position: fixed;
          list-style:none;
          padding: 10px;
          margin: 0;
          background-color: #1d4444;
          box-sizing: border-box;
          width: 400px;
          height: 100%;
          overflow-y: scroll;
          top: 0;
          right: -400px;
          transition: right .2s;
          z-index: 2;
          -webkit-transform: translateZ(0);
          -webkit-backface-visibility: hidden;
          ul{
            flex-direction: column;
            li{
              padding: 7px;
              a{
                font-size: 24px;
                font-weight: inherit;
                color: #fff;
                &:hover{
                  color: rgb(140 209 203);
                }
              }
            }
            
          }
        }
        .menu__button {
          display: none;
          &:checked ~ .btn-menu{
            right: 5px;
            top: 20px;
            position: fixed;
          }
          &:checked ~ nav{
            right: -18px;
          }
          &:checked ~ .btn-menu span.first{
            -webkit-transform: rotate(45deg);
            top: 8px;
            background-color: #fff;
          }
          &:checked ~ .btn-menu span.second{
            opacity: 0;
          }
          &:checked ~ .btn-menu span.third{
            -webkit-transform: rotate(-45deg);
            bottom: 12px;
            background-color: #fff;
          }
        }
        .btn-menu {
          color: #1d4444;
          padding: 2px;
          position: relative;
          cursor: pointer;
          transition: right .23s;
          z-index: 3;
          top: -5px;
          width: 39px;
          display: block;
          -webkit-transform: translateZ(0);
          -webkit-backface-visibility: hidden;
          span{
            display: block;
            height: 2px;
            background-color: #1d4444;
            margin: 8px 0 0;
            transition: all .1s linear;
            position: relative;
            &.first{
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 630px) {
  header{
    .header{
      .menu{
        nav{
          ul{
            li{
              a{
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 399px) {
  header{
    .header{
      .menu{
        nav{
          width: 100%;
        }
      }
    }
  }
}