.profile{
  background: url("../assets/img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 30% top;
  height: 890px;
  color:#1D4444;
  &__desc{
    background: rgba(254, 254, 254, 0.7);
    border-radius: 37px;
    max-width: 784px;
    width: 100%;
    padding: 0 96px;
    margin-top: 200px;
    float: left;
    .desc{
      max-width: 592px;
      width: 100%;
      h1{
        margin-top: 48px;
      }
      p{
        font-size: 24px;
        margin-top: 35px;
      }
    }
  }
  h1{
    font-family: "Saira";
    font-size: 42px;
    line-height: 66px;
    letter-spacing: 0.145em;
    text-transform: uppercase;
  }
}

.telegram{
  display: block;
  margin-top: 55px;
  padding-bottom: 58px;
  a{
      display: flex;
      max-width: 270px;
      width: 100%;
      height: 40px;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, rgba(23, 141, 195, 0.5) 0%, rgba(2, 2, 4, 0.5) 100%);
      border: 2px solid #039BE5;
      border-radius: 30px;
      img{
          margin-left: -5px;
          width: 60px;
      }
      p{
        padding-top: 0;
          margin-top: 0!important;
          color: #fff;
          margin: 0 5px;
          letter-spacing: 0.05em;
      }
      &:hover{
          color: #fff;
          background: linear-gradient(180deg, rgba(73, 179, 228, 0.5) 0%, rgba(12, 40, 53, 0.5) 100%);
      }
  }
}

@media screen and (max-width: 1380px){
  .profile{
    height: 700px;
    &__desc{
      margin-top: 150px;
      max-width: 592px;
      padding: 0 26px;
      .desc{
        h1{
          margin-top: 18px;
        }
        p{
          margin-top: 25px;
        }
      }
      
    }
  }
  .telegram{
    margin-top: 45px;
  }
}

@media screen and (max-width: 1024px){
  .profile{
    &__desc{
      margin-top: 270px;
    }
  }
}

@media screen and (max-width: 630px){
  .profile{
    &__desc{
      .desc{
        p{
          font-size: 20px;
        }
      }
    }
    h1{
      font-size: 32px;
      line-height: 46px;
    }
  }
}
@media screen and (max-width: 506px){
  .profile{
    h1{
      font-size: 26px;
      line-height: 36px;
      text-align: center;
    }
    &__desc{
      .desc{
        p{
          text-align: center;
        }
      }
    }
  }
  .telegram{
    a{
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 422px){
  .profile{
    h1{
      font-size: 22px;
      line-height: 32px;
    }
  }
}
@media screen and (max-width: 348px){
  .telegram{
    a{
      p{
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 320px){
  .profile{
    &__desc{
      margin-top: 240px;
    }
  }
}

