.container{
    padding:0 30px;
  }
  body{
    background-color: #faf6f3;
    color:#000;
     margin:0 auto;
    cursor: default;
  }
  body a{
    text-decoration: none;
    color: #000;
  }
  body a:hover{
    color:rgb(117, 15, 15);
  }
  h2, .web, .github a{
    color:rgb(22 62 38 / 76%);
  }
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    align-items: center;
  }
  header img{
    padding-right: 10px;
  }
  .menu{
    width: 100%;
    max-width: 624px;
    line-height: 78px;
    font-size: 20px;
  }
  .social{
    max-width: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social img{
    max-width: 95%;
  }
  .main h1{
    margin:0;  
    font-size: 28px;
  }
  .main__description p{
    max-width: 600px;
  }
  .menu nav ul{
    display: none;
  }
  nav ul{
    display: flex;
    justify-content: space-between;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  nav ul li{
    list-style: none;
  }
  nav ul li a{
    color:rgb(25, 68, 68);
  }
  .contacts{
    max-width: 220px;
    width: 100%;
    line-height: 78px;
  }
  .contacts img{
    width:45px;
  }
  .contacts .fa{
    font-size: 25px;
    color:#000;
  }
  .person, .phone, .msg{
    display: flex;
    align-items: center;
    color: #000;
  }
  .person img{
    border-radius: 30%;
    width:30%;
  }
  footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    padding-top: 10px;
  }
  footer img{
    max-width: 100%;
  }
  .rs{
    max-width: 100px;
    width: 100%;
    margin: 10px 0;
  }
  @media screen and (min-width: 700px){
    header{
      flex-direction: row;
      justify-content: space-between;
      align-items: inherit;
    }
  }
  @media screen and (min-width: 1224px){
    .menu nav ul{
      display: flex;
    }
  }  